h1 {
  text-align: center;
  font-weight: bold;
  font-family: Optima, sans-serif;

}

.head-text {
  text-align: center;
  font-size: 20px;
  color: #54665f;

}

#travis {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    padding: 10px;
}

img {
  float: left;
}

p {font-size: 15px;
  font-family: Optima, sans-serif;

}

.many {
  font-style: oblique;

}

body {
  background-color: #bee2d5;

}

.well {
  background-color: #9CC2AF;

}

.row {
  margin: 30px;
  margin-top: 200px;

}

.panel-title {
  background-color: #9CC2AF;
  color: #54665f;

}

#interests .container {
  background-image: url(../img/japan.jpeg);
  padding-top: 200px;
  background-size: cover;
  background-repeat: no-repeat;

}
